
/* font
================================================== */

		@font-face {
		font-family:NeoSansPro-Bold; 
		src: url("../fonts/NeoSans/NeoSansPro-Bold.otf") format("opentype");
		src: url("../fonts/NeoSans/NeoSansPro-Bold.ttf") format("truetype");
		src: url("../fonts/NeoSans/NeoSansPro-Bold.woff") format("woff");
		src: url("../fonts/NeoSans/NeoSansPro-Bold.eot");
		src: url("../fonts/NeoSans/NeoSansPro-Bold.svg");
		}

		@font-face {
		font-family:NeoSansPro-Italic; 
		src: url("../fonts/NeoSans/NeoSansPro-Italic.otf") format("opentype");
		src: url("../fonts/NeoSans/NeoSansPro-Italic.ttf") format("truetype");
		src: url("../fonts/NeoSans/NeoSansPro-Italic.woff") format("woff");
		src: url("../fonts/NeoSans/NeoSansPro-Italic.eot");
		src: url("../fonts/NeoSans/NeoSansPro-Italic.svg");
		}

		@font-face {
		font-family:NeoSansPro-Light; 
		src: url("../fonts/NeoSans/NeoSansPro-Light.otf") format("opentype");
		src: url("../fonts/NeoSans/NeoSansPro-Light.ttf") format("truetype");
		src: url("../fonts/NeoSans/NeoSansPro-Light.woff") format("woff");
		src: url("../fonts/NeoSans/NeoSansPro-Light.eot");
		src: url("../fonts/NeoSans/NeoSansPro-Light.svg");
		}

		@font-face {
		font-family:NeoSansPro-Medium; 
		src: url("../fonts/NeoSans/NeoSansPro-Medium.otf") format("opentype");
		src: url("../fonts/NeoSans/NeoSansPro-Medium.ttf") format("truetype");
		src: url("../fonts/NeoSans/NeoSansPro-Medium.woff") format("woff");
		src: url("../fonts/NeoSans/NeoSansPro-Medium.eot");
		src: url("../fonts/NeoSans/NeoSansPro-Medium.svg");
		}

		@font-face {
		font-family:NeoSansPro-Regular; 
		src: url("../fonts/NeoSans/NeoSansPro-Regular.otf") format("opentype");
		src: url("../fonts/NeoSans/NeoSansPro-Regular.ttf") format("truetype");
		src: url("../fonts/NeoSans/NeoSansPro-Regular.woff") format("woff");
		src: url("../fonts/NeoSans/NeoSansPro-Regular.eot");
		src: url("../fonts/NeoSans/NeoSansPro-Regular.svg");
		}

		@font-face {
		font-family:NeoSansPro-Ultra; 
		src: url("../fonts/NeoSans/NeoSansPro-Ultra.otf") format("opentype");
		src: url("../fonts/NeoSans/NeoSansPro-Ultra.ttf") format("truetype");
		src: url("../fonts/NeoSans/NeoSansPro-Ultra.woff") format("woff");
		src: url("../fonts/NeoSans/NeoSansPro-Ultra.eot");
		src: url("../fonts/NeoSans/NeoSansPro-Ultra.svg");
		}

	
			
/* body
================================================== */
		
		html, body {                  						
		font-family:NeoSansPro-Regular, Arial;	
		font-weight:normal;		
		font-size:20px;          						
		text-indent:0;  
		text-align:justify;							
		line-height:24px;         						
		width:100%;
		min-width:1000px;
		height:100%;
		margin:0 auto;                              			
		padding:0;                            	 		
		color:#252525;	
		background:#f7f7f7;
		}	
		
		::selection {color:#ffffff;	background:#B1D2F9;}
		::-moz-selection {color:#ffffff;	background:#B1D2F9;}
		
		body img {border:none;}						

		a {text-decoration:none;} 
		
		a:link {color:#ffffff;} 				
		a:visited {color:#ffffff;} 
		a:hover {color:#ffffff;} 
		a:active {color:#ffffff;} 
		  		
		.clear {clear:both;}		
		
/* header
================================================== */
			
		#header {
		position:relative;
		width:100%;
		margin:0;
		padding:200px 0 50px 0;
		background:#f0f0f0; 
		}
		
		#logo {
		width:296px;
		height:293px;
		padding:0;
		position:absolute;
		top:-120px;
		left:50%;
		margin-left:-148px;
		z-index:0;
		background:url('../images/logo.png') no-repeat top left; 
		}
			
		#menu-wrapper {
		position:absolute;
		top:100px;
		left:0;
		width:100%;
		height:50px;
		margin:0;
		padding:0;
		background:rgba(209,46,54,0.8);
		z-index:2;
		}	
		
		ul {
		margin:0;
		padding:0;
		}
				
		#menu {
		width:1000px;
		margin:0 auto;
		padding:0;
		list-style-type:none;
		font-family:"Sansus Webissimo", Arial;
		text-transform:uppercase;
		font-weight:normal;
		font-size:14px;
		line-height:14px;
		text-align:center;
		color:#ffffff;
		letter-spacing:1.4px;
		}

		#menu li {
		display:inline-block;
		margin:0 18px;
		padding-top:18px;	
		}

		#menu a:link {color:#ffffff;} 				
		#menu a:visited {color:#ffffff;} 
		#menu a:hover {color:#ffffff; border-bottom:2px solid #ffffff;} 
		#menu a:active {color:#ffffff;} 
	
		#menu a.active:link {color:#622b2d;} 				
		#menu a.active:visited {color:#622b2d;} 
		#menu a.active:hover {color:#622b2d; border-bottom:2px solid #622b2d;} 
		#menu a.active:active {color:#622b2d;} 
		
/* production
================================================== */
			
		#production {
		position:relative;
		width:100%;
		margin:0;
		padding:0 0 90px 0;
		background:#f0f0f0;
		}
		
		#production-box {
		width:990px;
		margin:0 auto;
		padding:0;
		}
			
		.production-box {
		width:270px;
		margin:0 45px 0 15px;
		padding:0;
		float:left;
		text-align:center;
		}	
		
		#production-box img {
		width:100%;
		margin:0;
		padding:15px 0 25px 0;
		}
			
		#production-box h1 {
		width:100%;
		margin:0;
		padding:5px 0;
		font-family:NeoSansPro-Medium, Arial;
		font-weight:normal;
		text-align:left;
		font-size:24px;
		line-height:26px;
		cursor:default;
		color:#0076B7;
		text-transform:uppercase;
		}
			
		#production-box h2 {
		width:100%;
		margin:0;
		padding:10px 0 0 0;
		font-family:NeoSansPro-Bold, Arial;
		font-weight:normal;
		text-align:left;
		font-size:36px;
		line-height:38px;
		cursor:default;
		color:#F4656B;
		text-transform:uppercase;
		}
			
		#production-box h2 span {
		vertical-align:super;
		font-size:22px;
		line-height:24px;
		}
			
		#production-box h3{
		width:100%;
		margin:0;
		padding:0 0 10px 0;
		font-family:NeoSansPro-Regular, Arial;
		font-weight:normal;
		text-align:left;
		font-size:14px;
		line-height:16px;
		cursor:default;
		color:#505050;
		}
			
		#production-box h4 {
		width:100%;
		margin:0;
		padding:25px 0 10px 0;
		font-family:"Sansus Webissimo", Arial;
		font-weight:normal;
		text-align:left;
		font-size:20px;
		line-height:22px;
		cursor:default;
		color:#0076B7;
		text-transform:uppercase;
		}
			
		#production-box p {
		width:100%;
		max-width:250px;
		margin:0;
		padding:5px 0;
		font-family:Arial;
		font-weight:normal;
		text-align:left;
		font-size:13px;
		line-height:22px;
		cursor:default;
		color:#505050;
		}
		
/* services
================================================== */
			
		#services {
		position:relative;
		width:100%;
		margin:0;
		padding:0 0 70px 0;
		background:#f0f0f0;
		}
		
		#services-box {
		width:990px;
		margin:0 auto;
		padding:0;
		}
			
		.services-box {
		width:270px;
		margin:0 30px;
		padding:0;
		float:left;
		text-align:center;
		}	
		
		#services-box img {
		width:100%;
		margin:0;
		padding:5px 0 25px 0;
		}
			
		#services-box h1 {
		width:100%;
		margin:0;
		padding:5px 0;
		font-family:"Sansus Webissimo", Arial;
		font-weight:normal;
		text-align:center;
		font-size:24px;
		line-height:26px;
		cursor:default;
		color:#3e3e3e;
		text-transform:uppercase;
		}

		#services-box p {
		width:100%;
		margin:0;
		padding:5px 0 55px 0;
		font-family:Arial;
		font-weight:normal;
		text-align:center;
		font-size:13px;
		line-height:22px;
		cursor:default;
		color:#505050;
		}

		#formbox-wrapper {
		width:950px;
		margin:15px auto 0 auto;
		padding:0;
		background:#ffffff;
		position:relative;
		}
		
		#formbox {
		width:450px;
		padding:25px;
		margin:0;
		float:right;
		cursor:default;	
		text-align:center;
		position:relative;
		}
		
		.form {
		float:left;
		margin:5px 0;
		padding:0;
		}
		
		#formbox-wrapper h2 {
		font-family:Arial;
		font-weight:bold;
		text-align:left;
		font-size:18px;
		line-height:22px;
		margin:0;
		padding:40px 50px;
		float:left;
		color:#424242;		
		}
		
		#formbox-wrapper p {
		font-family:Arial;
		font-weight:normal;
		text-align:left;
		font-size:13px;
		line-height:13px;
		margin:0;
		padding:5px 10px 0 0;
		float:left;
		width:115px;
		color:#424242;		
		}

		input {
		left:120px;
		width:275px;
		height:10px;
		padding:10px;
		outline:none;
		border:1px solid #f0f0f0;
		color:#424242;
		float:left;
		}

		input:-moz-placeholder {color:#424242;}
		input::-webkit-input-placeholder {color:#424242;}
		
		.error {background:#f0f0f0; color:#0076B7;}
		
		#submit {
		width:160px;
		height:50px;
		padding:0;
		margin:15px 30px 0 0;
		float:right;
		}
		
		#submit input {
		width:160px;
		height:50px;
		padding:0;
		margin:0;
		font-family:NeoSansPro-Medium, Arial;
		font-weight:normal;
		text-align:center;
		text-transform:uppercase;
		vertical-align:middle;
		font-size:18px;
		line-height:18px;
		color:#ffffff;
		cursor:pointer;	
		background:#0076B7;	
		cursor:pointer;
		outline:none;	
		border:none;
		}

		#submit 	input:hover {
		opacity:0.8;
		outline:none;	
		border:none;
		}
		
/* box3
================================================== */
			
		#box3-wrapper {
		position:relative;
		width:100%;
		margin:0;
		padding:0;
		background:#ffffff;
		}
		
		#box3 {
		width:1000px;
		margin:0 auto;
		padding:50px 0;
		}
			
		.box3 {
		width:220px;
		margin:0 15px;
		padding:10px 0;
		float:left;
		text-align:center;
		}	
		
		#box3 h1 {
		width:100%;
		margin:0;
		padding:5px 0;
		font-family:NeoSansPro-Medium, Arial;
		text-transform:uppercase;
		font-weight:normal;
		text-align:left;
		font-size:24px;
		line-height:24px;
		cursor:default;
		color:#363a3d;
		}	
		
		#box3 h2 {
		width:100%;
		margin:0;
		padding:10px 0;
		font-family:NeoSansPro-Medium, Arial;
		font-weight:normal;
		text-align:left;
		font-size:14px;
		line-height:20px;
		cursor:default;
		color:#363a3d;
		}	
		
		#box3 h2 a {
		color:#0076B7;
		border-bottom:1px solid #0076B7;
		font-family:NeoSansPro-Regular, Arial;
		}
		
		#box3 h3 {
		width:100%;
		margin:0;
		padding:5px 0;
		font-family:NeoSansPro-Regular, Arial;
		font-weight:normal;
		text-align:left;
		font-size:14px;
		line-height:16px;
		cursor:default;
		color:#363a3d;
		}	

		#box3 h4 {
		width:100%;
		margin:35px 0 0 0;
		padding:5px 0;
		font-family:NeoSansPro-Medium, Arial;
		font-weight:normal;
		text-align:center;
		font-size:14px;
		line-height:16px;
		cursor:default;
		color:#363a3d;
		}	

		#box3 h5 {
		width:100%;
		margin:0;
		padding:0;
		font-family:NeoSansPro-Regular, Arial;
		font-weight:normal;
		text-align:center;
		text-transform:uppercase;
		font-size:14px;
		line-height:16px;
		cursor:default;
		color:#363a3d;
		}	
		
		#box3 h5 a {
		color:#0076B7;
		}
		